<!DOCTYPE html>
<html>
<head>
  <title>Guicavicci</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "geral.css"%>
  <%= csrf_meta_tags %>
</head>
<body>

<div role="navigation" class="navbar navbar-light bd-navbar" id= "">
  <div class="container">
    <div class="navbar-header">
    <%= link_to "Guicavicci", root_path, class: "navbar-brand" %>
    </div>
      <ul class="nav navbar-nav">
        <%= menu_item "Minha historia", minha_historia_path, class: "nav-link" %>
        <%= drop_down "Inspiracoes" do %>
          <%= menu_item "Musica", inspiracoes_musica_path%>
          <%= menu_item "Tecnologia", inspiracoes_tecnologia_path%>
        <% end %>
        <%= menu_item "Contatos", new_contato_path, class: "nav-link" %>
      </ul>
  </div>
</div>
<% if flash[:notice] %>
  <div data-alert="alert" class="alert alert-warning fade in out" auto-close="5000">
    <a href="#" class="close" data-dismiss="alert">×</a><p><%= flash[:notice] %></p>
  </div>
<% end %>

<div class="container">
<%= yield %>
</div>

</body>

<!-- Footer -->

<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://github.com/guicavicci1997" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="https://www.facebook.com/guilherme.cavichioli.94" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/gui_cavicci/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy;2018 Copyright.</a>
				</div>
			</footer>

</html>
