<!DOCTYPE html>
<html>
<head>
  <title>Guicavicci</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div role="navigation" class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Guicavicci</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <%= drop_down "Minha historia" do %>
          <%= menu_item "Things you can't afford", root_path %>
          <%= menu_item "Things that won't suit you anyway", root_path %>
          <%= menu_item "Things you're not even cool enough to buy anyway", root_path %>
        <% end %>
        <%= menu_item "Inspiracoes", root_path %>
        <%= menu_item "Contatos", root_path %>
      </ul>
    </div>
  </div>
</div>
<% if flash[:notice] %>
  <div data-alert="alert" class="alert alert-warning fade in out" auto-close="5000">
    <a href="#" class="close" data-dismiss="alert">×</a><p><%= flash[:notice] %></p>
  </div>
<% end %>



<div class="container">
<%= yield %>
</div>

</body>

<div class="container">
<footer class="footer navbar-fixed-bottom">

    <!-- Footer Elements -->
    <div class="container" >

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center text-center py-3">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x "> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright
      <!--<a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->

  </footer>
  </div>

</html>
